webhook.oaslananka.dev {
	encode zstd gzip

	@github path /github
	handle @github {
		header {
			X-Content-Type-Options "nosniff"
			Referrer-Policy "no-referrer"
			X-Frame-Options "DENY"
			-Server
		}
		reverse_proxy oc-main-github-router:8788
	}

	handle {
		respond 404
	}

	log {
		output stdout
		format json
	}
}
